table {
  border-collapse: collapse;
  font-size: 12px;
}
th {
  Color:lightgray;
}
td {
  width:150px;
  border:1px solid lightgray;
  padding:15px 5px 15px 5px;
}

th{
  width:150px;
}

.firstCol {
  border-right:hidden;
}
.midCol{
  border-left: hidden;
  border-right: hidden;
}
.lastCol{
  border-left: hidden;
}
.customTable {
  border-collapse:separate;
  border-spacing:0 15px;
  width:100%;border: 1px solid lightgray;
  padding:0 10px 10px 10px;
  margin-bottom: 20px;
}

.rows:hover{
  background-color: lightgray;
  cursor: pointer;
}

.customTable tbody{
  display:block;
  overflow:auto;
  height:300px;
  width:100%;
}
.customTable thead tr{
  display:block;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: lightblue;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

@media (max-width: 600px) {
  .customTable{
    margin-top: 20px;
  }
}
