<div style="padding:0 10px 10px 10px;border: 1px solid lightgray">
  <table style="width:100%" class="customTable">
    <thead>
      <tr>
        <th>AWB NUMBER</th>
        <th>TRANSPORTER</th>
        <th>SOURCE</th>
        <th>DESTINATION</th>
        <th>BRAND</th>
        <th>START DATE</th>
        <th>ETD</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData" class="rows" (click)="select(row)"
          [ngStyle]="row==selectedRow ? {'background-color':'lightgray'} : {'background-color': 'white'}">
        <td class="firstCol">#{{getColData(row.awbno)}}</td>
        <td class="midCol">{{row.carrier}}</td>
        <td class="midCol">{{row.from}}</td>
        <td class="midCol">{{row.to}}</td>
        <td class="midCol">{{row.carrier}}</td>
        <td class="midCol">{{getDate(row.pickup_date)}}</td>
        <td *ngIf="row.extra_fields!=null" class="midCol">{{getDate(row.extra_fields.expected_delivery_date)}}</td>
        <td *ngIf="row.extra_fields==null" class="midCol">NA</td>
        <td class="lastCol" [ngStyle]="row.current_status == 'Delivered' ? {'color' : 'green'} : {'color' : 'red'}">{{row.current_status}}</td>
      </tr>
    </tbody>
  </table>
</div>
