<div class="navbar">
  <span style="margin-left: 20px;padding-left: 20px">
    <div style="display: flex;align-items: center">
      <img src="../../assets/logo.svg" alt="Intugine" style="width: 50px;line-height: 80px">
      <a href="#home">Intugine</a>
    </div>
  </span>
  <div style="display: flex;justify-content: right;align-items: center">
    <span class="menu">
      <div style="display: flex; justify-content: space-evenly;align-items: center">
        <a href="#home">Home</a>
        <a href="#brands">Brands</a>
        <a href="#transorters">Transporters</a>
        <a href="#profile" style="background-color: lightgray;border-radius: 50%;padding: 8px"><img src="../../assets/profile.svg"></a>
      </div>
    </span>
    <a href="#more"><img style="width: 25px" src="../../assets/keyboard_arrow_down-black-18dp.svg"></a>
  </div>
</div>
