<div style="border: 1px solid lightgray;padding: 5px;">
  <div class="timeline" *ngIf="shipment">
    <div *ngIf="!shipment.scan" style="text-align: center">
      <span style="font-size: large">No Information Yet</span>
    </div>

    <div *ngIf="shipment.scan">
      <div style="z-index: 1">
        <img src="../../assets/destination.svg" alt="Destination" style="width: 30px;height: 30px;
            background-color: lightgray;border-radius: 50%;padding: 5px;">
      </div>
      <div class="data">
        <div class="statusBox" *ngFor="let status of shipment.scan">
          <div style="border: 1px solid blue;border-radius: 50%;
            width: 10px;height: 10px;background-color: blue;
              box-shadow:0 0 2px 3px skyblue;"></div>
          <div style="width: 35px;height: 1.5px;background-color: blue"></div>
          <div class="status" [ngStyle]="status.status_detail == 'DELIVERED' ? {'background-color' : 'lightgray','color':'green'} : {'background-color' : 'white'}" >
            <div style="margin-right: 5px;">{{status.location}}</div>
            <div style="margin-left: 5px;display: flex;justify-content: space-between">
              <div style="margin-right: 5px">{{getDate(status.time)}}</div>
              <div style="margin-left: 5px">{{getTime(status.time)}}</div>
            </div>
          </div>
        </div>
      </div>

      <div style="z-index: 1">
        <img src="../../assets/warehouse.svg" alt="Destination" style="width: 30px;height: 30px;
            background-color: lightgray;border-radius: 50%;padding: 5px;z-index: 1">
      </div>
    </div>
  </div>


  <div *ngIf="!shipment" style="text-align: center">
    <span style="font-size: large">No Shipment Selected</span>
  </div>
</div>
