<!--<router-outlet></router-outlet>-->
<app-navbar></app-navbar>
<div *ngIf="loadingData" style="display: flex; align-items: center;flex-direction: column;margin-top: 50px">
  <div class="loader"></div>
  <div>Loading Shipment Data..</div>
</div>

<app-counters [countData]="statusCodeCount" (selectedStatus)="getFilteredTableData($event)"></app-counters>

<div *ngIf="!loadingData" class="row" style="margin-left: 10px;margin-bottom: 10px">
  <div class="col-md-4">
    <app-timeline [shipment]="selectedShipment"></app-timeline>
  </div>
  <div class="col-md-8">
    <app-table [tableData]="filteredShipmentData" (shipment)="selectedShipment = $event"></app-table>
  </div>
</div>

